body {
  font-family: Verdana,Tahoma,Arial,Helvetica,"Bitstream Vera Sans",sans-serif;
  margin: 0.3em;
  padding: 1em;
}

body, fieldset {
  border: 1px solid #ddd;
}

ul.key {
  padding: 0;
}

ul.key li {
  list-style-type: none;
  display: inline;
  padding: 0.2em;
  border: 1px solid gray;
}

ul.key img {
  vertical-align: middle;
}

div#timemap {
  margin-top: 1em;
}
div#timelinecontainer{
width: 100%;
height: 200px;
}

div#timeline{
 width: 100%;
 height: 100%;
 font-size: 12px;
 background: #CCCCCC;
}

div#mapcontainer {
 width: 100%;
 height: 400px;
}

div#map {
 width: 100%;
 height: 100%;
 background: #EEEEEE;
}

div.infotitle {
    font-size: 14px;
    font-weight: bold;
}
div.infodescription {
    font-size: 14px;
    font-style: italic;
}

div.custominfostyle {
    font-family: Georgia, Garamond, serif;
    font-size: 1.5em;
    font-style: italic;
    width: 20em;
}
